body, html {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
  }
  
  .product {
    text-align: center;
    max-width: 320px;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    margin: 10px;
  }
  
  .product:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .product img {
    width: 100%; /* Ensure the image fills the container */
    height: 100px;
    border-radius: 10px;
  }
  
  .product video {
    width: 100%; /* Ensure the video fills the container */
    height: auto;
    border-radius: 10px;
  }
  
  .product h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family: 'Arial Black', sans-serif;
    color: #00477e;
  }
  
  .product p {
    margin: 0;
    color: #666;
  }
  