<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{'/myBank.css'}">
</head>
<body>
<div class="container col-9">
    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4  g-4 me-4" id="insuranceCards">

    </div>
    <div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="cardModalLabel" aria-hidden="true">

    </div>
</div>
    <script src="@{'/InsuranceRepo.js'}"></script>

</body>
</html>